{% extends "_base.html" %}
{% block content %}

    <h1>Subjects List for {{ course.name }} </h1>

    <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp " style="overflow-x: auto">

        <ul class="demo-list-item mdl-list">
            {% for s in subjectslist %}
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">class</i>
                  <a href='{{ url_for('notes.notes_list', subject_id=s.id) }}'>{{ s.name }}</a>
                </span>
            </li>
            {% endfor %}
        </ul>

    </div>
    <div class="mdl-layout-spacer" style="display: inline">

    </div>
{% endblock %}
