{% extends "_base.html" %}
{% block content %}

    <style>
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400italic);

        .circular--portrait {
            position: relative;
            width: 30vh;
            height: 30vh;
            overflow: hidden;
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .circular--portrait img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .demo-card-square > .mdl-card__title {
            color: #fff;
            border-radius: 50%;
            background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Chapultepec_Zoo_-_Jaguar_%2802%29.jpg/2560px-Chapultepec_Zoo_-_Jaguar_%2802%29.jpg') bottom right 50% no-repeat #46B6AC;
        }

        .my-quote {
            font-size: 17px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 500;
        }

        .consolas {
            font-family: Consolas, sans-serif
        }

        .role {
            text-align: center;
            font-weight: 500;
            font-size: 10px;
            text-transform: uppercase;
        }

        .mdl-chip {
            padding-left: 0px;
        }


    </style>
    <div style="text-align: center;"><h3>Development Team</h3></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <div class="circular--portrait mdl-shadow--16dp" style="align-content: center">
            <img src="{{ url_for('static', filename='images/master.jpg') }}"/>
            </div>
            <div style="text-align: center;">
                <br/>
                <q class="my-quote">Security first</q>
                <h4>Simone Ranno</h4>
                <span class="mdl-chip">
                    <span class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--white">dns</span>
                    <span class="mdl-chip__text">Enterprise Database Engineer</span></span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="circular--portrait mdl-shadow--16dp" style="align-content: center">
                <img src="{{ url_for('static', filename='images/vins.jpg') }}"/>
            </div>
            <div style="text-align: center;">
                <br/>
                <q class="my-quote">Design is intelligence made visible</q>
                <h4>Vincenzo Sparacino</h4>
                <span class="mdl-chip">
                    <span class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--white">web</span>
                    <span class="mdl-chip__text">User Interface Engineer</span></span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="circular--portrait mdl-shadow--16dp" style="align-content: center">
                <img src="{{ url_for('static', filename='images/mimmo.jpg') }}"/>
            </div>
            <div style="text-align: center;">
                <br/>
                <q class="my-quote">There is no place like <span class="consolas">127.0.0.1</span></q>
                <h4>Domenico Geraci</h4>
                <span class="mdl-chip">
                    <span class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--white">engineering</span>
                    <span class="mdl-chip__text">Backend Software Engineer</span></span>
            </div>
        </div>
    </div>
    <div style="text-align: center;"><h3>Management Department</h3></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <div class="circular--portrait mdl-shadow--16dp" style="align-content: center">
                <img src="https://scontent-ort2-1.cdninstagram.com/v/t51.2885-19/38080987_515482152242315_3657576166245531648_n.jpg?_nc_ht=scontent-ort2-1.cdninstagram.com&_nc_ohc=5htw1CFAFdAAX-aXIHY&oh=c50430e0a794cb9165f20d90604f893d&oe=5FFC85CC"/>
            </div>
            <div style="text-align: center;">
                <br/>
                <q class="my-quote">Master the <b>topic</b>, the <b>message</b><br/>and the <b>delivery</b></q>
                <h4>Giuseppe Barbiero</h4>
                <span class="mdl-chip">
                    <span class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--white">admin_panel_settings</span>
                    <span class="mdl-chip__text">Lead Technical Program Manager</span></span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="circular--portrait mdl-shadow--16dp" style="align-content: center">
                <img src="{{ url_for('static', filename='images/bottermann.jpg') }}"/>
            </div>
            <div style="text-align: center;">
                <br/>
                <q class="my-quote"><b>Efficiency</b> is doing things <i>right</i><br/><b>Effectiveness</b> is doing the <i>right things</i></q>
                <h4>Andrea Bottaro</h4>
                <span class="mdl-chip">
                    <span class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--white">mediation</span>
                    <span class="mdl-chip__text">Strategic Partner Manager</span></span>
            </div>

        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="circular--portrait mdl-shadow--16dp" style="align-content: center">
                <img src="{{ url_for('static', filename='images/frank.jpg') }}"/>
            </div>
            <div style="text-align: center;">
                <br/>
                <q class="my-quote">It always seems <b>impossible</b><br/><i>until it's done</i></q>
                <h4>Francesco Ferrazzo</h4>
                <span class="mdl-chip">
                    <span class="mdl-chip__contact material-icons mdl-color--accent mdl-color-text--white">trending_up</span>
                    <span class="mdl-chip__text">Responsible Innovation Manager</span></span>
            </div>
        </div>
    </div>

{% endblock %}