{% extends "_base.html" %}

{% block content %}

<div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp ">
            <div class="mdl-card__title mdl-color--primary-dark">
                <h2 style="color: white">Forgot Your Password?</h2>
            </div>
        <div class="mdl-card__supporting-text">

<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
  {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.confirm(placeholder="confirm") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Reset your password!</button>
  <br /><br />
</form>
     </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
{% endblock %}