{% extends "_base.html" %}

{% block content %}
<div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp ">
            <div class="mdl-card__title mdl-color--primary-dark">
                <h2 style="color: white">Forgot Your Password?</h2>
            </div>
        <div class="mdl-card__supporting-text">
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}

<div class="mdl-textfield mdl-js-textfield">
     {{ form.email(placehoolder="email", class='mdl-textfield_input')}}
    <label class=mdl-textfield_label" for="{{ form.email.id }}">{{ form.email.label }}</label>
</div>
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
    <br/>
  </p>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Reset your password</button>
</form>
<ul>
<li>Back to <a href="/login">login</a></li>
<li>Need to <a href="/register">register</a>?</li>
</ul>
</div>

        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
{% endblock %}